@page "/room/{conferenceId}/user/{userId}"

@model BizGazeMeeting.Pages.meeting.IndexModel
@{
}


@section StyleSheets{
    <link rel="stylesheet" href="~/css/jquery.dataTables.min.css" type="text/css" />
    <link rel="stylesheet" href="~/css/conf.css" />
    <link rel="stylesheet" href="~/css/log.css" />

}

<div id="content" style="height: 100%; " class="d-flex">
    <div class="subject">
        <div class="subject-info-container">
            <div class="subject-info">
                <span class="subject-text">Video Meeting</span>
                <span class="subject-timer">00:00:00</span>
            </div>
        </div>
    </div>
    <div id="video-panel" class="justify-content-center align-self-center"></div>
    <div class="sideToolbarContainer slideInExt invisible" id="sideToolbarContainer">
        <div class="chat-header">
            <div class="jitsi-icon ">
                <svg height="22" width="22" viewBox="0 0 24 24">
                    <path d="M18.984 6.422L13.406 12l5.578 5.578-1.406 1.406L12 13.406l-5.578 5.578-1.406-1.406L10.594 12 5.016 6.422l1.406-1.406L12 10.594l5.578-5.578z"></path>
                </svg>
            </div>
        </div>
        <div id="chatconversation">

        </div>
        <div class="chat-input-container">
            <div id="chat-input">
                <div class="smiley-input">
                    <div id="smileysarea">
                        <div id="smileys">
                            <div class="smiley-button">
                                <div class="jitsi-icon" style="display:flex;">
                                    <svg fill="none" height="22" width="22" viewBox="0 0 20 20">
                                        <path clip-rule="evenodd" d="M10 18.333a8.333 8.333 0 110-16.666 8.333 8.333 0 010 16.666zm0-1.666a6.667 6.667 0 100-13.334 6.667 6.667 0 000 13.334zM8.333 8.75a1.25 1.25 0 11-2.5 0 1.25 1.25 0 012.5 0zM12.917 10a1.25 1.25 0 100-2.5 1.25 1.25 0 000 2.5zM10 15c1.75 0 3.289-.898 4.182-2.259l-1.295-1.072A3.335 3.335 0 0110 13.333a3.344 3.344 0 01-2.876-1.666L5.83 12.741A5 5 0 0010 15z"></path>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="hide-smileys smileys-panel">
                        <div id="smileysContainer">
                            <div class="smileyContainer" id="smiley1">
                                <span class="smiley">
                                    <span>😃</span>
                                </span>
                            </div>
                            <div class="smileyContainer" id="smiley2">
                                <span class="smiley">
                                    <span>😦</span>
                                </span>
                            </div>
                            <div class="smileyContainer" id="smiley3">
                                <span class="smiley">
                                    <span>😄</span>
                                </span>
                            </div>
                            <div class="smileyContainer" id="smiley4">
                                <span class="smiley">
                                    <span>👍</span>
                                </span>
                            </div>
                            <div class="smileyContainer" id="smiley5">
                                <span class="smiley">
                                    <span>😛</span>
                                </span>
                            </div>
                            <div class="smileyContainer" id="smiley6">
                                <span class="smiley">
                                    <span>👋</span>
                                </span>
                            </div>
                            <div class="smileyContainer" id="smiley7">
                                <span class="smiley">
                                    <span>😊</span>
                                </span>
                            </div>
                            <div class="smileyContainer" id="smiley8">
                                <span class="smiley">
                                    <span>🙂</span>
                                </span>
                            </div>
                            <div class="smileyContainer" id="smiley9">
                                <span class="smiley">
                                    <span>😱</span>
                                </span>
                            </div>
                            <div class="smileyContainer" id="smiley10">
                                <span class="smiley">
                                    <span>😗</span>
                                </span>
                            </div>
                            <div class="smileyContainer" id="smiley11">
                                <span class="smiley">
                                    <span>👎</span>
                                </span>
                            </div>
                            <div class="smileyContainer" id="smiley12">
                                <span class="smiley">
                                    <span>🔍</span>
                                </span>
                            </div>
                            <div class="smileyContainer" id="smiley13">
                                <span class="smiley">
                                    <span>❤️</span>
                                </span>
                            </div>
                            <div class="smileyContainer" id="smiley14">
                                <span class="smiley">
                                    <span>😇</span>
                                </span>
                            </div>
                            <div class="smileyContainer" id="smiley15">
                                <span class="smiley">
                                    <span>😠</span>
                                </span>
                            </div>
                            <div class="smileyContainer" id="smiley16">
                                <span class="smiley">
                                    <span>👼</span>
                                </span>
                            </div>
                            <div class="smileyContainer" id="smiley17">
                                <span class="smiley">
                                    <span>😭</span>
                                </span>
                            </div>
                            <div class="smileyContainer" id="smiley18">
                                <span class="smiley">
                                    <span>👏</span>
                                </span>
                            </div>
                            <div class="smileyContainer" id="smiley19">
                                <span class="smiley">
                                    <span>😉</span>
                                </span>
                            </div>
                            <div class="smileyContainer" id="smiley20">
                                <span class="smiley">
                                    <span>🍺</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="usrmsg-form">
                    <textarea id="usermsg" placeholder="Type a message" style="height: 41px;"></textarea>
                </div>
                <div class="send-button-container">
                    <div class="send-button">
                        <div class="jitsi-icon ">
                            <svg fill="none" height="22" width="22" viewBox="0 0 20 20">
                                <path clip-rule="evenodd" d="M16.667 1.667l-15 9.166 5.966.995.7 5.255 2.311-3.85 6.023 4.684V1.667zm-7.93 8.655L6.35 9.924 15 4.638v9.87l-3.684-2.864L12.5 7.5l-3.763 2.822z"></path>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="new-toolbox" id="new-toolbox">
        <div class="toolbox-content">
            <div class="toolbox-content-wrapper">
                <div class="toolbox-content-items">
                    <div class="audio-preview">
                        <div class="settings-button-container">
                            <div id="mic-enable" data-toggle="toggle" class="toolbox-button ctooltip" tabindex="0" role="button">
                                <div>
                                    <div class="toolbox-icon">
                                        <div class="jitsi-icon ">
                                            <svg height="22" width="22" viewBox="0 0 22 22">
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M7.333 8.65V11a3.668 3.668 0 002.757 3.553.928.928 0 00-.007.114v1.757A5.501 5.501 0 015.5 11a.917.917 0 10-1.833 0c0 3.74 2.799 6.826 6.416 7.277v.973a.917.917 0 001.834 0v-.973a7.297 7.297 0 003.568-1.475l3.091 3.092a.932.932 0 101.318-1.318l-3.091-3.091.01-.013-1.311-1.311-.01.013-1.325-1.325.008-.014-1.395-1.395a1.24 1.24 0 01-.004.018l-3.61-3.609v-.023L7.334 5.993v.023l-3.909-3.91a.932.932 0 10-1.318 1.318L7.333 8.65zm1.834 1.834V11a1.833 1.833 0 002.291 1.776l-2.291-2.292zm3.682 3.683c-.29.17-.606.3-.94.386a.928.928 0 01.008.114v1.757a5.47 5.47 0 002.257-.932l-1.325-1.325zm1.818-3.476l-1.834-1.834V5.5a1.833 1.833 0 00-3.644-.287l-1.43-1.43A3.666 3.666 0 0114.667 5.5v5.19zm1.665 1.665l1.447 1.447c.357-.864.554-1.81.554-2.803a.917.917 0 10-1.833 0c0 .468-.058.922-.168 1.356z"></path>
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                                <span class="ctooltiptext">Mute / Unmute</span>
                            </div>
                        </div>
                    </div>
                    <div class="video-preview">
                        <div class="settings-button-container">
                            <div id="camera-enable" data-toggle="toggle" class="ctooltip toolbox-button" tabindex="0" role="button">
                                <div>
                                    <div class="toolbox-icon">
                                        <div class="jitsi-icon ">
                                            <svg fill="none" height="22" width="22" viewBox="0 0 22 22">
                                                <path clip-rule="evenodd" d="M13.75 5.5H3.667c-1.013 0-1.834.82-1.834 1.833v7.334c0 1.012.821 1.833 1.834 1.833H13.75c1.012 0 1.833-.82 1.833-1.833v-.786l3.212 1.835a.916.916 0 001.372-.796V7.08a.917.917 0 00-1.372-.796l-3.212 1.835v-.786c0-1.012-.82-1.833-1.833-1.833zm0 3.667v5.5H3.667V7.333H13.75v1.834zm4.583 4.174l-2.75-1.572v-1.538l2.75-1.572v4.682z"></path>
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                                <span class="ctooltiptext">Start / Stop camera</span>
                            </div>
                        </div>
                    </div>
                    <div id="share" data-toggle="toggle" class="desktop-share ctooltip toolbox-button" role="button" tabindex="0">
                        <div>
                            <div class="toolbox-icon ">
                                <div class="jitsi-icon ">
                                    <svg fill="none" height="22" width="22" viewBox="0 0 22 22">
                                        <path clip-rule="evenodd" d="M3.667 2.75h14.666c1.013 0 1.834.82 1.834 1.833v11c0 1.013-.821 1.834-1.834 1.834h-2.75a.917.917 0 010 1.833H6.417a.917.917 0 010-1.833h-2.75a1.833 1.833 0 01-1.834-1.834v-11c0-1.012.821-1.833 1.834-1.833zm0 1.833v11h14.666v-11H3.667zm8.25 3.667c-3.75 0-5.5 1.604-5.5 6.417 2-3.896 5.5-3.667 5.5-3.667v1.274a.5.5 0 00.813.39l3.287-2.65a.5.5 0 000-.778l-3.287-2.65a.5.5 0 00-.813.39V8.25z"></path>
                                    </svg>
                                </div>
                            </div>
                        </div>
                        <span class="ctooltiptext">Share your screen</span>
                    </div>
                    <div id="record" data-toggle="toggle" class="record ctooltip toolbox-button" role="button" tabindex="0">
                        <div>
                            <div class="toolbox-icon ">
                                <div class="jitsi-icon ">
                                    <svg fill="none" height="22" width="22" viewBox="0 0 22 22">
                                        <path clip-rule="evenodd" d="M11 20.167a9.167 9.167 0 110-18.334 9.167 9.167 0 010 18.334zm0-1.834a7.333 7.333 0 100-14.666 7.333 7.333 0 000 14.666zM15.583 11a4.583 4.583 0 11-9.166 0 4.583 4.583 0 019.166 0z"></path>
                                    </svg>
                                </div>
                            </div>
                        </div>
                        <span class="ctooltiptext">Start / Stop record</span>
                    </div>
                    <div class="toolbar-button-with-badge">
                        <div id="chat" data-toggle="toggle" class="chat ctooltip toolbox-button" role="button" tabindex="0">
                            <div>
                                <div class="toolbox-icon ">
                                    <div class="jitsi-icon">
                                        <svg fill="none" height="22" width="22" viewBox="0 0 22 22">
                                            <path clip-rule="evenodd" d="M15.583 20.196c.507 0 .917-.41.917-.917v-4.612h2.75c.506 0 .917-.41.917-.917v-11a.917.917 0 00-.917-.917H2.75a.917.917 0 00-.917.917v11c0 .506.41.917.917.917h7.843l4.283 5.195a.917.917 0 00.707.334zM3.667 3.666h14.666v9.167h-3.666v3.893l-3.21-3.893h-7.79V3.667z"></path>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                            <span class="ctooltiptext">Open / Close chat</span>
                        </div>
                    </div>
                    <div id="leave" data-toggle="toggle" class="ctooltip toolbox-button" tabindex="0" role="button">
                        <div>
                            <div class="toolbox-icon hangup-button">
                                <div class="jitsi-icon ">
                                    <svg height="22" width="22" viewBox="0 0 32 32">
                                        <path d="M16 12c-2.125 0-4.188.313-6.125.938v4.125c0 .5-.313 1.063-.75 1.25a13.87 13.87 0 00-3.563 2.438c-.25.25-.563.375-.938.375s-.688-.125-.938-.375L.373 17.438c-.25-.25-.375-.563-.375-.938s.125-.688.375-.938c4.063-3.875 9.563-6.25 15.625-6.25s11.563 2.375 15.625 6.25c.25.25.375.563.375.938s-.125.688-.375.938l-3.313 3.313c-.25.25-.563.375-.938.375s-.688-.125-.938-.375a13.87 13.87 0 00-3.563-2.438c-.438-.188-.75-.625-.75-1.188V13c-1.938-.625-4-1-6.125-1z"></path>
                                    </svg>
                                </div>
                            </div>
                        </div>

                        <span class="ctooltiptext">Leave</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<form id="return" method="get" action="/"></form>

@section Scripts{
    <script type="text/javascript">

        window._roomId = '@(ViewContext.RouteData.Values["conferenceId"])';
        window._userId = '@(ViewContext.RouteData.Values["userId"])';
    </script>
    <script type="text/javascript" src="~/lib/microsoft-signalr/signalr.min.js"></script>
    <script type="text/javascript" src="~/js/adapter-latest.js"></script>
    <script type="text/javascript" src="~/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/scripts/meeting_ui.js"></script>
    <script type="text/javascript" src="~/scripts/peerconnection.js"></script>
    <script type="text/javascript" src="~/lib/jitsi/lib-jitsi-meet.min.js"></script>
    <script type="text/javascript">
        window.JitsiMeetJS = JitsiMeetJS;
    </script>
    <script type="text/javascript" src="~/scripts/meeting.js"></script>

}
